/* app/styles/aboutme.css */

body {
  background-image: url('/assets/image/background.png');
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
}

.profile-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 150px;
  height: 300px;
  margin-right: 20px;
}

.typewriter-container {
  flex: 2;
  max-width: 600px;
  text-align: left;
  font-size: 30px;
  color: #fff3f3;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.typewriter-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

audio {
  display: none;
}
