body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.add-projects-container {
  max-width: 500px; /* Reduced from 600px to 500px */
  margin: 50px auto;
  padding: 15px;
  border-radius: 3px;
  background-color: #fff3f331;
  box-shadow: 0 4px 6px rgba(0, 0, 0.5, 0.5);
}

h1 {
  text-align: center;
  color: #fff3f3;
  font-size: 24px;
  margin-bottom: 20px;
  -webkit-text-stroke: #a07cff 0.2px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #fff3f3;
  font-family: VCR_OSD_MONO_1, sans-serif;
}

input[type="text"],
textarea,
input[type="file"] {
  width: calc(100% - 20px); /* Standardized width for all text forms */
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-size: 14px;
  height: 15px; /* Standardized height */
}

textarea {
  resize: none; /* Prevent resizing to keep consistent height */
}

button[type="submit"] {
  background-color: #fff3f331; /* Light yellow with some transparency */
  text-decoration: none;
  width: 250px; /* Width of the button */
  height: 50px; /* Height of the button */
  border: 4px solid #A07CFF; /* Light purple */
  color: #fff; /* Text color */
  font-size: 20px; /* Font size */
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: VCR_OSD_MONO_1, sans-serif;
  cursor: pointer;
}

button:hover[type="submit"] {
  background-color: #fff3f360;
  border: 2px solid #895ffc;
  transform: scale(1.1);
}

input[type="file"] {
  font-size: 15px;
}