.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.form-container,
.social-media-container {
  width: 40%;
  margin: 0 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  text-align: center;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.contact-form button {
  padding: 10px;
  background-color: #444;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #666;
}

.social-media-links {
  text-align: center;
}

.social-media-links h2 {
  margin-bottom: 20px;
}

.social-media-links a {
  margin: 0 10px;
  color: white;
  font-size: 2em;
  transition: transform 0.3s;
}

.social-media-links a:hover {
  transform: scale(1.2);
  color: #1da1f2; /* Twitter Blue */
}

.social-media-links a:nth-child(2):hover {
  color: #0077b5; /* LinkedIn Blue */
}

.social-media-links a:nth-child(3):hover {
  color: #333; /* GitHub Black */
}
