body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  position: relative;
  margin-top: 50px;
}

.logo-container .logo img {
  max-width: 40%;
  height: auto;
  opacity: 1;
  transition: opacity 1s;
  animation: slowDown 10s steps(10) infinite;
}

.continue {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 300px;
  padding: 10px;
  margin-top: 200px;
}

.copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 300px;
  color: white;
  -webkit-text-stroke: black 1px;
  font-size: 16px;
}

/* Character slowdown */
@keyframes slowDown {
  0% { background-position: 0 0; }
  100% { background-position: -2000px 0; }
}

/* Subtitle animation */
@keyframes subtitle {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
