body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2a;
}

.project-details-container, .wip-details-container {
  display: flex;
  max-width: 90%;
  width: 1400px; /* Increase the fixed width */
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff3f331;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1200px; /* Increase the maximum width */
  height: 500px;
  padding: 0 50px; /* Add padding to the sides for arrows */
}

.gallery-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  position: relative;
}

.gallery-button {
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: #fff3f3;
  padding: 10px;
  z-index: 1;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust spacing as needed */
}

.gallery-button.left {
  margin-right: 10px; /* Add some space between the button and the visit button */
}

.gallery-button.right {
  margin-left: 10px; /* Add some space between the button and the visit button */
}

h1 {
  color: #fff3f3;
  font-size: 36px;
  margin-bottom: 10px; /* Reduce the bottom margin */
}

p {
  color: #fff3f3;
  font-size: 18px;
  -webkit-text-stroke: #a07cff 0.5px;
  margin-top: 20px; /* Increase the top margin */
  margin-bottom: 20px;
}

.delete-button {
  background-color: #fff3f331; /* Light yellow with some transparency */
  text-decoration: none;
  width: 250px; /* Width of the button */
  height: 50px; /* Height of the button */
  border: 4px solid #A07CFF; /* Light purple */
  color: #fff; /* Text color */
  font-size: 20px; /* Font size */
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: VCR_OSD_MONO_1, sans-serif;
  margin: 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #fff3f360;
  border: 2px solid #895ffc;
  transform: scale(1.1);
}

.visit-button {
  background-color: #fff3f331; /* Light yellow with some transparency */
  text-decoration: none;
  width: 250px; /* Width of the button */
  height: 50px; /* Height of the button */
  border: 4px solid #A07CFF; /* Light purple */
  color: #fff; /* Text color */
  font-size: 20px; /* Font size */
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: VCR_OSD_MONO_1, sans-serif;
  margin: 10px;

/* Tijdelijk totdat ik de paths werkend heb gekregen */
  display: none;
  
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.visit-button:hover {
  background-color: #fff3f360;
  border: 2px solid #895ffc;
  transform: scale(1.1);
}
